.idea/
venv/
.venv
/container/grafana/*
/container/loki/*
/container/prometheus/*
.lycheecache
*.iml
.env
opentelemetry-javaagent*.jar
grafana-opentelemetry*.jar
build/

obj/
examples/go/dice

application.log
.vscode/settings.json
examples/elixir_phx/log/elixir_phx.log
